<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Admin</a></li>
    <li><a href="#">Add Lottery</a></li>
</ul>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"> <h3 class="panel-title"> <strong>Add Lottery</strong>(No. Of Licenses : <strong>{{licenses}} </strong>) </h3> </div>
                <div class="panel-body">
                    <form name="addlotteryForm" novalidate>
                        <div class="row form-horizontal">
                            <div class="form-group">
                                <label class="col-md-6 control-label  text-left">Store Name</label>
                                <div class="col-md-6 ">
                                    <select class="form-control select2 ng-pristine ng-valid ng-empty ng-touched" name="StoreID" id="StoreID" required ng-model="lottery.StoreID" ng-change="getLotteryGames(lottery.StoreID)">
                                        <option value="">Select Store</option>
                                        <!-- ngRepeat: shift in shifts -->
                                        <option ng-repeat="row in stores" ng-selected="currentStore == row.StoreID" value="{{row.StoreID}}" >{{row.StoreName}}</option>
                                        <!-- end ngRepeat: shift in shifts -->
                                    </select>
                                    <span ng-show="addlotteryForm.$submitted && addlotteryForm.StoreID.$error.required">
                                        Store Name is required.
                                    </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-6 control-label  text-left">Lottery Games</label>
                                <div class="col-md-6 ">
                                    <div isteven-multi-select
                                         input-model="games"
                                         output-model="GameID"
                                         button-label="GameID"
                                         item-label="GameID"
                                         tick-property="ticked">
                                    </div>
                                    <input type="text" ng-model="GameID" name="GameID" style="display:none" required />
                                    <span ng-show="addlotteryForm.$submitted && addlotteryForm.GameID.$error.required">
                                        Lottery Games is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6 text-left">No. Of Slots</label>
                                <div class="col-md-6 ">
                                    <input type="number" class="form-control" name="NoOfSlots" id="NoOfSlots" ng-model="lottery.NoOfSlots" required>
                                    <span ng-show="addlotteryForm.$submitted && addlotteryForm.NoOfSlots.$error.required">
                                        No. Of Slots is required.
                                    </span>
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6 text-left">Auto settle days from activation</label>
                                <div class="col-md-6 ">
                                    <input type="number" class="form-control" name="AutoSettleDays" ng-model="lottery.AutoSettleDays" required>
                                    <span ng-show="addlotteryForm.$submitted && addlotteryForm.AutoSettleDays.$error.required">
                                       Auto settle days is required.
                                    </span>
                                </div>                                
                            </div>                                 
                                               
                            <button class=" col-md-offset-6 col-md-3 btn btn-primary" type="submit" ng-click="addLottery();">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" ></span>Activate</button>
                            <!-- <button class=" col-md-offset-6 col-md-3 btn btn-primary" type="submit" ng-click="updateUser();" ng-show="update">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Update</button> -->
                            <button class="col-md-3 btn btn-default" type="reset" ng-click="userreset(lottery);">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
                
            </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">                    
                    <table ng-table="tableParams" id="tblGameList" class="table table-condensed table-bordered table-striped">
                        <tr ng-repeat="row in $data" ng-click="getSelectedRow(row)" style="cursor:pointer;">
                            <td title="'StoreName'" filter="{ StoreName: 'text'}" sortable="'StoreName'">{{row.StoreName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>  