<html>
<head>
    <title>GSS</title>
</head>
<body ng-controller="DailyStoreController" class="col-lg-12" style="margin-top: 20px;">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1> <a class="navbar-brand" href="index.html">GSS</a></h1>
            </div>
            <div class="border-bottom">
                <div class="drop-men">
                    <ul class="nav_1">
                        <li class="dropdown" style="margin-right: 28px;margin-top: 14px;">
                            <a class="dropdown-toggle dropdown-at" data-toggle="dropdown" style="cursor:pointer"><span class="name-caret">{{username}}<i class="caret"></i></span><i class="fa fa-user"></i></a>
                            <ul class="dropdown-menu" role="menu" style="left: -8em;">
                                <li><a href="#/changepassword"><i class="fa fa-key"></i>Change Password</a></li>
                                <li><a ng-click="logout()" style="cursor:pointer;"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <div class="clearfix">
                </div>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#/dashboard" class="hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                        </li>
                        <li ng-if="IsAdmin()">
                            <a href="#/stores" class="hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">Store Configuration</span> </a>
                        </li>
                        <li ng-if="IsStoreManager()">
                            <a href="#/dailystorebasis" class="hvr-bounce-to-right"><i class="fa fa-building-o nav_icon"></i> <span class="nav-label">Store Management</span> </a>
                        </li>
                        <li ng-if="IsStoreManager()" ng-show="storeType">
                            <a href="#/openingbalanceupdate" class="hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Opening Balance</span> </a>
                        </li>
                        <li ng-if="IsStoreManager()">
                            <a href="#/accountcreationstore" class="hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Account Creation</span> </a>
                        </li>
                        <li ng-if="IsAdmin()">
                            <a href="#/unlockDay" class="hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Unlock Day</span> </a>
                        </li>
                        <li>
                            <a href="#/ReportLedger" class="hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Report Ledger</span> </a>
                        </li>
                        <li>
                            <a href="#/monthlyreport" class="hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Reports</span></a>
                        </li>
                        <li>
                            <a href="#/BalanceSheet" class="hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Profit and Loss Account</span> </a>
                        </li>
                        <li ng-if="IsStoreManager()">
                            <a href="#/creategroups" class="hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Reports Configuration</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="content-main">
                <!--banner-->
                <!--   <div class="banner">
                      <h2>
                      <a href="index.html">home</a>
                      <i class="fa fa-angle-right"></i>
                      <span>dashboard</span>
                      </h2>
                  </div> -->
                <!--//banner-->
                <!--content-->
                <div class="content-top">
                    <div id="processing" ng-show="loading"><center><img src="/App/img/loading2.gif" style="margin-top: 107px;" /></center></div>
                    <div id="wrapper">
                        <!--<div class="pull-right">
                            <span>Today's Date: {{date | date:'dd-MM-yyyy'}}</span>
                        </div>-->
                        <span class="fa fa-calendar pull-left" style="font-size:20px;"></span>
                        <div class="col-sm-3">
                            <input type="date" id="datepicker" class="datepicker form-control" ng-model="myDate" ng-change="getDaySaleDetails(myDate);" />
                        </div>
                        <span class="pull-left" style="font-size:15px;">{{myDate | date:'dd-MMM-yyyy'}}</span>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <br />
            <div class="content-mid">
                <h4 ng-model="StoreName" style="color: #d95459;"><b>{{StoreName.StoreName}}</b></h4><br />
                <ul class="nav nav-tabs">
                    <li class="active" ng-show=storeType><a href="#/dailystorebasis">Gas Station</a></li>
                    <li><a href="#/lottery">Lottery</a></li>
                    <li><a href="#/storepaymetns">In store-Payments</a></li>
                    <li><a href="#/storesales">In store Sale</a></li>
                    <li><a href="#/receipts">Receipts/Buy Down</a></li>
                    <li><a href="#/bankdeposits">Bank Deposit(s)</a></li>
                    <li><a href="#/purchases">Purchases</a></li>
                    <li><a href="#/chequecashing">ChequeCashing</a></li>
                    <li><a href="#/chequedeposit">ChequesDeposit</a></li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="gasStationForm" class="form-horizontal" novalidate>
                            <div class="GasStation">
                                <table class="tbl" style="width:100%" cellpadding="10">
                                    <thead>
                                        <tr>
                                            <th>Gas Type</th>
                                            <th class="text-center">Totalizer</th>
                                            <th class="text-center">Gallons</th>
                                            <th class="text-center">Amount $ USD</th>
                                            <th class="text-center">Price (per gallon)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="gas in GasSale">
                                            <td>{{gas.GasTypeName}}</td>
                                            <td>
                                                <input type="text" style="text-align:right;" class="form-control" id="Totalizer{{$index}}" name="Totalizer{{$index}}" ng-model="gas.Totalizer" ng-blur="grandtotalTotalizer(GasSale)" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-required="getValidations" />
                                                <p class="help-block" ng-show="gasStationForm.Totalizer{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                            <td>
                                                <input type="text" style="text-align:right;" class="form-control" id="Gallons{{$index}}" name="Gallons{{$index}}" ng-model="gas.SaleGallons" placeholder="0.000" ng-blur="validateTotalizer(GasSale)" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" ng-required="getValidations" />
                                                <p class="help-block" ng-show="gasStationForm.Gallons{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                            <td>
                                                <input type="text" style="text-align:right;" class="form-control" id="Amount{{$index}}" name="Amount{{$index}}" ng-model="gas.SaleAmount" placeholder="0.00" ng-blur="calculatePerGallon(GasSale)" ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' step="0.01" ng-required="getValidations" />
                                                <p class="help-block" ng-show="gasStationForm.Amount{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                            <td>
                                                <input type="text" style="text-align:right;" class="form-control" name="Price{{$index}}" ng-model="gas.SalePrice" ng-readonly="true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Grand Total</b></td>
                                            <td ng-model="gasStation.TotalTotalizer" style="text-align:right;"><b> {{gasStation.TotalTotalizer}}</b></td>
                                            <td ng-model="gasStation.TotalSaleGallons" style="text-align:right;"><b> {{gasStation.TotalSaleGallons}}</b></td>
                                            <td ng-model="gasStation.TotalSale" style="text-align:right;"><b>$ {{gasStation.TotalSale}}</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button name="saleSection" ng-model="gasStation.saleSection" ng-click="saleSection(GasSale)" ng-disabled="saleSectionSave || gasStationForm.$invalid " class="btn btn-primary pull-right">Save</button>
                                <br />
                            </div>
                        </form>
                        <hr style="border:1px solid black;">
                        <div class="Inverntory">
                            <!--<form name="inventoryForm" class="form-horizontal" novalidate>
                                <table class="tbl" style="width:100%" cellpadding="10" ng-repeat="Tanks in TankDetail">
                                    <thead>
                                        <tr>
                                            <th>TankName: [{{Tanks.TankName}}]</th>
                                            <th ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                {{gas.GasTypeName}}
                                            </th>
                                            <th><div class="help-block" ng-show="info" style="color:red">No OilTypes with out Gas Consuction Formuale</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Gas Opening Balance</th>
                                            <th ng-repeat="balance in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="balance{{$index}}" ng-model="balance.OpeningBalance" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.balance{{$index}}.$invalid && inventoryForm.balance{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Received</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="gasReceived{{$index}}" ng-model="gas.GasReceived" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.gasReceived{{$index}}.$invalid && inventoryForm.gasReceived{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Purchase Price</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="GasPrice{{$index}}" ng-model="gas.GasPrice" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.GasPrice{{$index}}.$invalid && inventoryForm.GasPrice{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stick - Inches</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">

                                                <input type="text" style="text-align:right;" class="form-control" name="stickinches{{$index}}" ng-model="gas.StickInches" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.stickinches{{$index}}.$invalid && inventoryForm.stickinches{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stick - Gallons</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">

                                                <input type="text" style="text-align:right;" class="form-control" name="stickgallons{{$index}}" ng-model="gas.StickGallons" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.stickgallons{{$index}}.$invalid && inventoryForm.stickgallons{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Actual Gas Closing Balance</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">

                                                <input type="text" style="text-align:right;" class="form-control" name="actualbalance{{$index}}" ng-model="gas.ActualClosingBalance" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" ng-change="enableClosingBalButton(GasInventory)" />
                                                <p class="help-block" ng-show="inventoryForm.actualbalance{{$index}}.$invalid && inventoryForm.actualbalance{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info" name="getclosingbalance" ng-model="getclosingbalance" ng-click="getClosingBalance()" ng-disabled="checkValidation">Get System Closing Balance</button> </td>
                                        </tr>
                                        <tr>
                                            <td>System Gas Closing Balance</td>
                                            <td ng-repeat="closingbal in SystemClosingBal | filter: { GasTypeID: '!2' }">{{closingbal.SystemClosingBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td>Short/Excess</td>
                                            <td ng-repeat="closingbal in SystemClosingBal | filter: { GasTypeID: '!2' }">{{closingbal.ShortOrExcess}}</td>
                                        </tr>
                                        <tr>
                                            <td>================</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">================</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button name="saveInventory" class="btn btn-primary pull-right" ng-model="saveInventory" ng-disabled="gasInventory || inventoryForm.$invalid" ng-click="saveInventory()">Save</button>
                                <br />
                            </form>-->
                            <form name="inventoryForm" class="form-horizontal" novalidate>
                                <table class="tbl" style="width:100%" cellpadding="10">
                                    <thead>
                                        <tr>
                                            <th>TankName: [{{TankName}}]</th>
                                            <th ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                {{gas.GasTypeName}}
                                            </th>
                                            <th><div class="help-block" ng-show="info" style="color:red">No OilTypes with out Gas Consuction Formuale</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Gas Opening Balance</th>
                                            <th ng-repeat="balance in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="balance{{$index}}" ng-model="balance.OpeningBalance" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.balance{{$index}}.$invalid && inventoryForm.balance{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Received</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="gasReceived{{$index}}" ng-model="gas.GasReceived" ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' step="0.01" placeholder="0.00" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.gasReceived{{$index}}.$invalid && inventoryForm.gasReceived{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Purchase Price</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="GasPrice{{$index}}" ng-model="gas.GasPrice" ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' step="0.01" placeholder="0.00" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.GasPrice{{$index}}.$invalid && inventoryForm.GasPrice{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stick - Inches</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="stickinches{{$index}}" ng-model="gas.StickInches" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.stickinches{{$index}}.$invalid && inventoryForm.stickinches{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stick - Gallons</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="stickgallons{{$index}}" ng-model="gas.StickGallons" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.stickgallons{{$index}}.$invalid && inventoryForm.stickgallons{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Actual Gas Closing Balance</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="actualbalance{{$index}}" ng-model="gas.ActualClosingBalance" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance(GasInventory)" ng-required="getValidations" ng-change="enableClosingBalButton(GasInventory)" />
                                                <p class="help-block" ng-show="inventoryForm.actualbalance{{$index}}.$invalid && inventoryForm.actualbalance{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info" name="getclosingbalance" ng-model="getclosingbalance" ng-click="getClosingBalance()" ng-disabled="checkValidation">Get System Closing Balance</button> </td>
                                        </tr>
                                        <tr>
                                            <td>System Gas Closing Balance</td>
                                            <td ng-repeat="closingbal in SystemClosingBal | filter: { GasTypeID: '!2' }">{{closingbal.SystemClosingBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td>Short/Excess</td>
                                            <td ng-repeat="closingbal in SystemClosingBal | filter: { GasTypeID: '!2' }">{{closingbal.ShortOrExcess}}</td>
                                        </tr>
                                        <tr>
                                            <td>================</td>
                                            <td ng-repeat="gas in GasInventory | filter: { GasTypeID: '!2' }">================</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="tbl" style="width:100%" cellpadding="10" ng-show="tanksstatus">
                                    <thead>
                                        <tr>
                                            <th>TankName: [{{TankName1}}]</th>
                                            <th ng-repeat="gas in GasInventory1 | filter: { GasTypeID: '!2' }">
                                                {{gas.GasTypeName}}
                                            </th>
                                            <th><div class="help-block" ng-show="info" style="color:red">No OilTypes with out Gas Consuction Formuale</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Gas Opening Balance</th>
                                            <th ng-repeat="balance1 in GasInventory1 | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="balance1{{$index}}" ng-model="balance1.OpeningBalance" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance1(GasInventory1)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.balance1{{$index}}.$invalid && inventoryForm.balance1{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Received</td>
                                            <td ng-repeat="gas1 in GasInventory1 | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="gasReceived1{{$index}}" ng-model="gas1.GasReceived" ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' step="0.01" placeholder="0.00" ng-blur="checkBalance1(GasInventory1)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.gasReceived1{{$index}}.$invalid && inventoryForm.gasReceived1{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Purchase Price</td>
                                            <td ng-repeat="gas1 in GasInventory1 | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="GasPrice1{{$index}}" ng-model="gas1.GasPrice" ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' step="0.01" placeholder="0.00" ng-blur="checkBalance1(GasInventory1)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.GasPrice1{{$index}}.$invalid && inventoryForm.GasPrice1{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stick - Inches</td>
                                            <td ng-repeat="gas1 in GasInventory1 | filter: { GasTypeID: '!2' }">

                                                <input type="text" style="text-align:right;" class="form-control" name="stickinches1{{$index}}" ng-model="gas1.StickInches" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance1(GasInventory1)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.stickinches1{{$index}}.$invalid && inventoryForm.stickinches1{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Stick - Gallons</td>
                                            <td ng-repeat="gas1 in GasInventory1 | filter: { GasTypeID: '!2' }">

                                                <input type="text" style="text-align:right;" class="form-control" name="stickgallons1{{$index}}" ng-model="gas1.StickGallons" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance1(GasInventory1)" ng-required="getValidations" />
                                                <p class="help-block" ng-show="inventoryForm.stickgallons1{{$index}}.$invalid && inventoryForm.stickgallons1{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Actual Gas Closing Balance</td>
                                            <td ng-repeat="gas1 in GasInventory1 | filter: { GasTypeID: '!2' }">
                                                <input type="text" style="text-align:right;" class="form-control" name="actualbalance1{{$index}}" ng-model="gas1.ActualClosingBalance" ng-pattern='/^[0-9]+(\.[0-9]{1,3})?$/' step="0.001" placeholder="0.000" ng-blur="checkBalance1(GasInventory1)" ng-required="getValidations" ng-change="enableClosingBalButton(GasInventory)" />
                                                <p class="help-block" ng-show="inventoryForm.actualbalance1{{$index}}.$invalid && inventoryForm.actualbalance1{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn btn-info" name="getclosingbalance" ng-model="getclosingbalance" ng-click="getClosingBalance1()" ng-disabled="checkValidation">Get System Closing Balance</button> </td>
                                        </tr>
                                        <tr>
                                            <td>System Gas Closing Balance</td>
                                            <td ng-repeat="closingbal1 in SystemClosingBal1 | filter: { GasTypeID: '!2' }">{{closingbal1.SystemClosingBalance}}</td>
                                        </tr>
                                        <tr>
                                            <td>Short/Excess</td>
                                            <td ng-repeat="closingbal1 in SystemClosingBal1 | filter: { GasTypeID: '!2' }">{{closingbal1.ShortOrExcess}}</td>
                                        </tr>
                                        <tr>
                                            <td>================</td>
                                            <td ng-repeat="gas in GasInventory1 | filter: { GasTypeID: '!2' }">================</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button name="saveInventory" class="btn btn-primary pull-right" ng-model="saveInventory" ng-disabled="gasInventory || inventoryForm.$invalid" ng-click="saveInventory()">Save</button>
                                <br />
                            </form>
                        </div>
                        <hr style="border:1px solid black;">
                        <div class="bankrecipt">
                            <form name="cardForm" class="form-horizontal" novalidate>
                                <div class="panel panel-info">
                                    <div class="panel-body text-center"><b>Receipt Breakup</b></div>
                                </div>
                                <table class="tbl" cellpadding="15">
                                    <tbody ng-repeat="gascards in GasReceipt">
                                        <tr>
                                            <td>{{gascards.CardTypeName}}</td>
                                            <td>
                                                <input type="text" style="text-align:right;" class="form-control" name="cardAmount{{$index}}" ng-model="gascards.CardAmount" ng-blur="getgasCardsTotal(GasReceipt)" ng-pattern='/^[0-9]+(\.[0-9]{1,2})?$/' step="0.01" placeholder="0.00" ng-required="getValidations" />
                                                <p class="help-block" ng-show="cardForm.cardAmount{{$index}}.$invalid && cardForm.cardAmount{{$index}}.$error.pattern" style="color:red;">*Not a valid number!</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <br />
                                <span>Grand Total : <b>$ {{gasCards.CardTotal}}</b></span><br />
                                <span>Cash : <b>$ {{gasCards.Cash}}</b></span>
                                <br />
                                <button name="saveBank" class="btn btn-primary pull-right" ng-model="saveBank" ng-disabled="GassaveOnlineAmount || cardForm.$invalid" ng-click="saveOnlineAmount()">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</body>
</html>
